build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/MontyHall.exe
build/MontyHall.exe.manifest
build/MontyHall.pdb
build/rules.ninja
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.0-rc1/CMakeCCompiler.cmake
build/CMakeFiles/3.16.0-rc1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.0-rc1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.0-rc1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.0-rc1/CMakeRCCompiler.cmake
build/CMakeFiles/3.16.0-rc1/CMakeSystem.cmake
build/CMakeFiles/3.16.0-rc1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.0-rc1/CompilerIdC/CMakeCCompilerId.exe
build/CMakeFiles/3.16.0-rc1/CompilerIdC/CMakeCCompilerId.obj
build/CMakeFiles/3.16.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.16.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.exe
build/CMakeFiles/3.16.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.obj
build/CMakeFiles/MontyHall.dir/embed.manifest
build/CMakeFiles/MontyHall.dir/intermediate.manifest
build/CMakeFiles/MontyHall.dir/main.cpp.obj
build/CMakeFiles/MontyHall.dir/manifest.rc
build/CMakeFiles/MontyHall.dir/manifest.res
build/CMakeFiles/MontyHall.dir/vc140.pdb
build/CMakeFiles/MontyHall.dir/src/Host.obj
build/CMakeFiles/MontyHall.dir/src/main.cpp.obj
build/CMakeFiles/MontyHall.dir/src/main.obj
build/CMakeFiles/MontyHall.dir/src/Player.obj
build/CMakeFiles/ShowIncludes/foo.h
build/CMakeFiles/ShowIncludes/main.c
build/CMakeFiles/ShowIncludes/main.obj
